@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

main {
  background: url(./assets/appbg.jpg) no-repeat bottom / cover;
}

.cart {
  background: url(./assets/cart.svg) no-repeat center / cover;
}

.github {
  background: url(./assets/github.svg) no-repeat center / cover;
}

.vk {
  background: url(./assets/vk.svg) no-repeat center / cover;
}

.plus {
  background: url(./assets/plus.svg) no-repeat center / cover;
}

.minus {
  background: url(./assets//minus.svg) no-repeat center / cover;
}

.delete {
  background: url(./assets/delete.svg) no-repeat center / cover;
}

.title {
  line-height: 1.4;
}

.product-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media only screen and (max-width: 1024px) {
  header {
    flex-direction: column;
    gap: 20px;
  }

  .home {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }

  .home > .left {
    order: 2;
    align-items: center;
  }

  .product-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  footer {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    line-height: 1.25;
    font-size: 3.5rem;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .header__nav {
    gap: 20px;
  }
}
